<div id="intro">
	<div id="face" class="rightfloat">
		<%= link_to image_tag("shu.png", alt: "shu.png"),
      'http://ja.wikipedia.org/wiki/%E5%8F%A4%E4%BA%95%E5%BC%98%E4%BA%BA' %>
    </div>
	<h1 id="headline">I'm everywhere:</h1>
	<table id="contact">
		<tr>
			<td>weibo:</td>
			<td><a href="http://www.weibo.com/taxiway">http://www.weibo.com/taxiway</a></td>
		</tr>
		<tr>
			<td>lofter:</td>
			<td><a href="http://taxiway.lofter.com/">http://taxiway.lofter.com/</a></td>
		</tr>
		<tr>
			<td>bangumi:</td>
			<td><a href="http://bgm.tv/user/taxiway">http://bgm.tv/user/taxiway</a></td>
		</tr>
		<tr>
			<td>mail:</td>
			<td><a href="mailto:hang.hang.zju@gmail.com">hang.hang.zju@gmail.com</a></td>
		</tr>
	</table>
</div>