<div id="links">
	<p class="center" onclick="toggleList('links')">Links</p>
	<ul>
		<li>her
			<ul>
				<li><a href="http://mo.hhanger.com/">vera</a></li>
			</ul>
		<li>me
			<ul>
				<li><a href="http://taxiway.lofter.com/">lofter</a></li>
				<li><a href="http://www.weibo.com/taxiway">weibo</a></li>
			</ul>
		</li>
		<li>anime
			<ul>
				<li><a href="http://bgm.tv/user/taxiway">bangumi</a></li>
				<li><a href="http://bt.ktxp.com/">ktxp</a></li>
				<li><a href="http://u2.dmhy.org/">u2</a></li>
			</ul>
		</li>
		<li>music
			<ul>
				<li><a href="mp3tag.html">mp3 list</a></li>
				<li><a href="https://open.cd/">open.cd</a></li>
				<li><a href="http://jpopsuki.eu/">jpopsuki</a></li>
				<li><a href="http://www.japanao.com/forum.php?mod=forumdisplay&amp;fid=117">japanao</a></li>
				<li><a href="http://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wiki japan</a></li>
			</ul>
		</li>
		<li>other
			<ul>
			<li><a href="http://acm.zju.edu.cn/~hhanger/ZJUerXTCer.html">ZJUerXTCer</a></li>
			</ul>
		</li>
	</ul>
</div>