<div id="page">
	<div><h1 id="title">二人のロケット</h1></div>
	<%= render 'intro'%>		
	<%= render 'leftbar'%>		
	<div id="content">
		<%= render @posts %>
	</div>
	<%= render 'rightbar'%>
</div>

<script>
	scroll();
</script>