	<div id="page">

		<div><h1 id="title">二人のロケット</h1></div>

		<div id="intro">
			<div id="face" class="rightfloat">
				<%= link_to image_tag("shu.png", alt: "shu.png"),
              'http://ja.wikipedia.org/wiki/%E5%8F%A4%E4%BA%95%E5%BC%98%E4%BA%BA' %>
            </div>
			<h1 id="headline">I'm everywhere:</h1>
			<table id="contact">
				<tr>
					<td>weibo:</td>
					<td><a href="http://www.weibo.com/taxiway">http://www.weibo.com/taxiway</a></td>
				</tr>
				<tr>
					<td>lofter:</td>
					<td><a href="http://taxiway.lofter.com/">http://taxiway.lofter.com/</a></td>
				</tr>
				<tr>
					<td>bangumi:</td>
					<td><a href="http://bgm.tv/user/taxiway">http://bgm.tv/user/taxiway</a></td>
				</tr>
				<tr>
					<td>mail:</td>
					<td><a href="mailto:hang.hang.zju@gmail.com">hang.hang.zju@gmail.com</a></td>
				</tr>
			</table>
		</div>
		
		<div id="leftbar">
			<div id="index">
				<p class="center" onclick="toggleList('index')">Index</p>
				<ul>
				</ul>
			</div>
			
			<div id="links">
				<p class="center" onclick="toggleList('links')">Links</p>
				<ul>
					<li>her
						<ul>
							<li><a href="http://mo.hhanger.com/">vera</a></li>
						</ul>
					<li>me
						<ul>
							<li><a href="http://taxiway.lofter.com/">lofter</a></li>
							<li><a href="http://www.weibo.com/taxiway">weibo</a></li>
						</ul>
					</li>
					<li>anime
						<ul>
							<li><a href="http://bgm.tv/user/taxiway">bangumi</a></li>
							<li><a href="http://bt.ktxp.com/">ktxp</a></li>
							<li><a href="http://u2.dmhy.org/">u2</a></li>
						</ul>
					</li>
					<li>music
						<ul>
							<li><a href="mp3tag.html">mp3 list</a></li>
							<li><a href="https://open.cd/">open.cd</a></li>
							<li><a href="http://jpopsuki.eu/">jpopsuki</a></li>
							<li><a href="http://www.japanao.com/forum.php?mod=forumdisplay&amp;fid=117">japanao</a></li>
							<li><a href="http://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wiki japan</a></li>
						</ul>
					</li>
					<li>other
						<ul>
						<li><a href="http://acm.zju.edu.cn/~hhanger/ZJUerXTCer.html">ZJUerXTCer</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
		
		<div id="content">
<div class="paragraph" id="p30">
<h2 class="date">2014.12.12</h2>

<p>重温了一些SRM的题目，发现：</p>
<ul>
<li>速度大不如前了</li>
<li>思路略僵化</li>
<li>Coding准确率似乎比以前高了</li>
</ul>
</div>

<div class="paragraph" id="p29">
<h2 class="date">2014.12.03</h2>

<p>在手机上装好了昨天/今天/明天三个app</p>
<ul>
<li>昨天：<a href="https://itunes.apple.com/us/app/moment-diary/id352263913?mt=8">MomentDiary</a>，方便查询过去某天干了什么事情。</li>
<li>今天：<a href="https://itunes.apple.com/cn/app/wei-xi-guan-sheng-huo-zhong/id783460443?mt=8">微习惯</a>，方便提醒每天的日常事务。</li>
<li>明天：<a href="https://ticktick.com/">TickTick</a>，TODO List。</li>
</ul>
</div>

<div class="paragraph" id="p28">
<h2 class="date">2014.11.27</h2>

<p>Ruby on Rails on the way:</p>
<p>
<ul>
<li><a href="https://www.railstutorial.org/book/frontmatter">The Ruby on Rails Tutorial</a>: 跟着这本书先入门下RoR</li>
<li>Emacs: 尝试了下Emacs的RoR mode，还算OK，不过最后还是决定搞个IDE来些RoR</li>
<li>Aptana Studio: 找到的免费IDE就是这个，用了下还不错，不过IDE功能应该都大同小异</li>
<li>TextMate: 找IDE的时候很多人推荐这款Mac的文本编辑器神奇，装好了有空去试试</li>
<li><a href="https://c9.io/">Cloud9</a>: 蛮强大的在线IDE，不过已经有Aptana Studio了就暂时没机会用这个了</li>
<li><a href="www.herokuapp.com">heroku</a>: 挺好用的app托管网站，借助git可以轻松deploy RoR</li>
</ul>
</p>
</div>

<div class="paragraph" id="p27">
<h2 class="date">2014.11.26</h2>

<p>之前想补高达UC的，结果好像说不补些背景知识的话会看不懂，于是去搜了下补番建议，我觉得我还是放弃高达算了。。</p>
<ul>
<li>机动战士高达(U.C 0079)</li>
<li>机动战士高达～08th MS小队(U.C 0079)</li>
<li>机动战士高达0080～口袋中的战争(U.C 0079) </li>
<li>机动战士高达～高达站立在大地上(U.C 0079)</li>
<li>机动战士高达～哀战士(U.C 0079) </li>
<li>机动战士高达～相逢在宇宙(U.C 0079)</li>
<li>机动战士高达～08th MS小队～米拉的报告(U.C 0079) </li>
<li>机动战士高达～08th MS小队～完结篇(U.C 0079)</li>
<li>机动战士高达MS IGLOO一年战争密录 （U.C.0079）</li>
<li>机动战士高达MS IGLOO一年战争默示录 （U.C.0079）</li>
<li>机动战士高达MS IGLOO重力战线（U.C.0079）</li>
<li>机动战士高达0083～星尘的回忆(U.C 0083) </li>
<li>机动战士高达0083～吉恩的残光(U.C 0083) </li>
<li>机动战士Z高达(U.C 0087)</li>
<li>机动战士Z高达Ⅰ～星之继承者(U.C 0087) </li>
<li>机动战士Z高达Ⅱ～恋人们( U.C 0087) </li>
<li>机动战士Z高达Ⅲ～星辰的跳动就是爱(U.C 0087) </li>
<li>高达新体验0087～GREEN DIVERS（环幕）(U.C 0087)</li>
<li>机动战士高达ZZ(U.C 0088)</li>
<li>机动战士高达0093～夏亚的逆袭(U.C 0093) </li>
<li>机动战士高达独角兽 (U.C 0096)</li>
<li>机动战士高达F91(U.C 0123)</li>
<li>机动战士V高达(U.C 0153)</li>
</ul>
</div>
		</div>
		
		<div id="rightbar">

			<div id="rss">
				<p class="center" onclick="toggleList('rss')">Recent Bangumi</p>
				<ul>

				</ul>
			</div>
		</div>

	</div>
	
	<script>
		function caldelta(delta) {
			if (delta == 0 || delta <= 1 && delta >= -1) {
				return delta;
			}
			var neg = false;
			if (delta < 0) {
				neg = true;
				delta = -delta;
			}
			delta *= 0.1;
			if (delta < 1) {
				delta = 1;
			}
			if (neg) {
				delta = -delta;
			}
			return delta;
		}
		function scroll(){
			var t = 500;
			var offset = $("div#" + "rss").offset();
			var margin = parseFloat($("div#" + "rss").css("margin-top"));
			//alert(document.body.scrollTop + " " + offset.top + " " + margin);
			var d = document.documentElement.scrollTop || document.body.scrollTop;
			var delta = caldelta(d - offset.top);
			margin += delta;
			if (margin < 30) {
				margin = 30;
			}
			if (delta != 0 && margin != 30) {
				t = 10;
			}
			$("div#" + "rss").css("margin-top", margin + "px");
			$("div#" + "index").css("margin-top", margin + "px");
			setTimeout(arguments.callee, t);
		}
		scroll();
	</script>